extends layout

block content
    .Modern-Slider
        // Item
        .item
            .img-fill
              img(src='https://googledrive.com/host/0B1RR6fhjI2QRbXA4RjVjQ2NxeFk/1.jpg', alt='')
              .info
                div
                  h3 Full Width Slider With Layers
                  h5
                    | You can easily add image, html formatted texts and video layers over each slide and each layer accepts unique animation.
        // Item
        .item
            .img-fill
              img(src='https://googledrive.com/host/0B1RR6fhjI2QRbXA4RjVjQ2NxeFk/2.jpg', alt='')
              .info
                div
                  h3 Fully responsive Scales with its container
                  h5
                    | Donec id ornare dui. Aenean tristique condimentum elit, quis blandit nisl varius sit amet. Sed eleifend felis quis massa viverra
            // Item
        .item
            .img-fill
              img(src='https://googledrive.com/host/0B1RR6fhjI2QRbXA4RjVjQ2NxeFk/3.jpg', alt='')
              .info
                div
                  h3 Awesome Transtions With CSS3
                  h5
                    | Donec id ornare dui. Aenean tristique condimentum elit, quis blandit nisl varius sit amet. Sed eleifend felis quis massa viverra
            // Item
        .item
            .img-fill
              img(src='https://googledrive.com/host/0B1RR6fhjI2QRbXA4RjVjQ2NxeFk/4.jpg', alt='')
              .info
                div
                  h3 Separate settings per breakpoint
                  h5
                    | Donec id ornare dui. Aenean tristique condimentum elit, quis blandit nisl varius sit amet. Sed eleifend felis quis massa viverra


    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='http://kenwheeler.github.io/slick/slick/slick.js')
    script(src='js/vendor.js')
